<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete city</title>
</head>
<body>
<h1>Delete city</h1>
<h2>Are you sure??</h2>
<p><a href="/city/list">Back to city list</a></p>
<form th:action="@{/city/remove}" th:object="${city}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name</td>
            <td th:text="${city.name}"></td>
        </tr>
        <tr>
            <td>Country:</td>
            <td th:text="${city.country.name}"></td>
        </tr>
        <tr>
            <td>Area</td>
            <td th:text="${city.area}"></td>
        </tr>
        <tr>
            <td>Population</td>
            <td th:text="${city.population}"></td>
        </tr>
        <tr>
            <td>GDP</td>
            <td th:text="${city.gdp}"></td>
        </tr>
        <tr>
            <td>Introduction</td>
            <td th:text="${city.introduction}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete City"></td>
        </tr>
    </table>
</form>
</body>
</html>